* {
    margin: 0;
    
}
body {
    margin-bottom: 2500px;
    background-color: #F6F6E9;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 2px solid #473c38bb;
    display: flex;
    justify-content: space-between;
    height: 96px;
    background-color: rgba(250, 235, 215, 0.395);
    color: #473C38;
    padding: 0px 60px;
}
.left, .right {
    display: flex;
    align-items: baseline;
    gap: 24px;
    align-items: center;
    /* background-color: aqua; */
}
.right {
    width: 600px;
    margin-right: 40px;
}
.left .fa-mountain {
    font-size: 30px;
    margin-left: 80px;
    color: #473C38;
}
.left h1 {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    color: #473C38;
    margin-top: 10px;/*centering h1 to left mountain logo*/
}
.right h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    cursor: pointer;
    color: #473C38;
    transition: font-weight 0.3s;
}
.right h2:hover {
    font-weight: 800;
    color: #473C38;
}
.right button h2 {
    color: white;
}
.right button h2:hover {
    color: white;
    font-weight: 200;
}
.right button {
    border: none;
    border-radius: 32px;
    background-color: #473C38;
    color: white;
    width: 220px;
    height: 64px;
    padding: 8px 0px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.right button:hover {
    color: white;
    background-color: #E2B808;
}
/* .right button {
    height: 60px;
    width: 240px;
    border-radius: 30px;
    border: 1.7px solid;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-weight: 800;
    padding: 0px 8px;
}
.right button:hover {
    background-color: #473C38;
    color: white;
}  */
.hero {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    /* background-color: yellowgreen; */
}
.hero .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    /* background-color: tomato; */
}
.hero .right {
    margin-right: 300px;
    /* background-color: aqua; */
    margin-left:0px;
}
.hero .left h1 {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    width: 100px;
    margin-bottom: -20px;
    color: #473C38;
}
.h1-move-right{
    margin-bottom: 30px;
    margin-left: 120px;
}
.hero .left h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.hero button {
    border: none;
    border-radius: 32px;
    background-color: #473C38;
    color: white;
    width: 290px;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.hero button:hover {
    /* background-color: #302825; */
    background-color: #E2B808;
}
.hero .left button h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    width: 200px;
    margin: 0 auto;
    line-height: 1.4;
}
.hero-img {
    width: 2680px;
}
.features {
    background-color: #473C38;
    height: 300px;
}
.philosophy {
    height: 640px;
    color: #473C38;
    /* color: #F6F6E9; */
    /* background-color: #ACC6B1; */
    /* background-color: #e2e208ec; */
    /* background-color: rgb(135, 184, 244); */
    /* background-color: rgb(1, 46, 113); */
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
    border-bottom: 1px solid #473C38;
}
.philosophy .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 80px;
    border-radius: 100px;
    background-color: #f6f6e9e2;
}
.p-img {
    border-radius: 100%;
    height: 660px;
    width: 660px;
    margin-right: 300px;
    margin-top: -60px;
}
.philosophy .left h3 {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
}
.philosophy p, .philosophy h4, .philosophy h5, .philosophy .left h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 19px;
}
.philosophy p {
    width: 740px;
    max-width: 700px;
    line-height: 1.9;
}
.philosophy h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
.philosophy h5 {
    font-style: italic;
    
    margin-bottom: -18px;
}
.philosophy-hr {
    border: 0.01px solid #473c384a;
    width: 415px;
    margin-bottom: 6px;
}
.impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.impact h3 {
    margin-bottom: 32px;
    font-size: 38px;
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.impact-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1215px;
}
.impact-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    border: 2px solid #473c38bb;
    border-radius: 20px;
    height: 460px;
    gap: 32px;
    padding: 0px 50px;
}
.impact-stat h5 {    
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.impact-number {
    font-family: "roca", sans-serif;
    font-size: 60px;
}


.subjects {
    display: flex;
    justify-content: center;
}
.subjects .left-subjs h3 {
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
}
.subj-img{
    height: 95px;
}
.subj-title {
    
}
.right-subjs {
    width: 700px;
}
.subj {
    position: relative;
    height: 307px; 
    width: 277px;
    border: 1px solid #473c38bb;
    border-radius: 30px;
}
.math-subj {
    height: 450px;
    width: 277px;
}
.subj h3 {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.more-info {
    position: absolute;
    background-color: #6A7775;
    color: white;
    border: 1px solid #6A7775;
    border-radius: 100%;
    height: 36px;
    width: 36px;
    top: 12px;
    right: 20px;
}
.more-info a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 11px;
}

